/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $base-color-text;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
