
.card__title {
  font-weight: inherit;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.card__subtitle {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-color-text;
}

