.card__title {
  font-weight: inherit;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.card__subtitle {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-color-text;
}

.card__content--more {
  position: relative;
}

.card__content--more::before,
.card__content--more::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #d3d3d3;
}

.card__content--more::after {
  transform: rotate(90deg);
}
