.catalog-extra__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: auto;
}

.catalog-extra__title {
  margin: 0;
  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
}

.catalog-extra__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 34px;
  list-style: none;
}

.catalog-extra__item {
  padding: 13px 0 17px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .catalog-extra__wrapper {
    min-width: 708px;
    max-width: 1080px;
    padding: 0 30px;
  }

  .catalog-extra__title {
    position: relative;
    padding-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  .catalog-extra__list {
    padding-top: 80px;
  }

  .catalog-extra__item {
    padding: 26px 38px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-extra__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    gap: 80px;
    min-width: 1220px;
    padding: 0 110px;
  }

  .catalog-extra__title {
    font-size: 40px;
    line-height: 40px;
    grid-column: 1 / -1;
    padding-left: 0;
  }

  .catalog-extra__list {
    width: 896px;
    padding-top: 0;
  }

  .catalog-extra__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 17px;
  }
}
