.coop-dealer__wrapper {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 26px 20px;
  width: 280px;
  background-color: #f2f2f2;
}

.coop-dealer__title {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .coop-dealer__wrapper {
    width: 628px;
    padding: 60px 70px;
    justify-content: space-between;
  }

  .coop-dealer__title {
    width: 163px;
  }

  .coop-dealer__address {
    width: 157px;
  }
}

@media (min-width: $desktop-width) {
  .coop-dealer {
    position: relative;
  }

  .coop-dealer__wrapper {
    position: absolute;
    width: 407px;
    padding: 60px 80px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    z-index: 1;
  }
}
