

.description__title {
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.description__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color-text;
}
