.example {
  background-color: #eaeaea;
}

.example__wrapper {
  min-width: 280px;
  max-width: 675;
  padding: 25px 20px 40px;
  margin: auto;
}

.example__content {
  margin-bottom: 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color-text;
}

.example__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
}

.example__item:not(:last-child) {
  margin-right: 32px;
}

.example__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 124px;
  height: calc(100% - 14px);
  border: 1px solid #cdcdcd;
}

.example__price {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: auto;
  z-index: 1;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    background-color: #ffffff;
  }

  .example::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 462px;
    bottom: -100px;
    background-color: #eaeaea;
  }

  .example__wrapper {
    min-width: 708px;
    max-width: 1080px;
    padding: 45px 30px 0;
    margin-bottom: 100px;
  }

  .example__content {
    position: relative;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 62px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__list {
    justify-content: start;
    margin-bottom: 99px;
  }

  .example__item {
    min-width: 162px;
  }

  .example__item:not(:last-child) {
    margin-right: 42px;
  }

  .example__item::before {
    width: 162px;
    height: calc(100% - 3px);
  }

  .example__price {
    position: absolute;
    display: block;
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    bottom: 15px;
    right: 0;
    text-align: right;
  }

  .example__price span {
    display: block;
    margin-top: 10px;
  }

  .example__slider {
    width: 560px;
    height: 512px;
  }
}

@media (min-width: $desktop-width) {
  .example::after {
    bottom: 0;
  }

  .example__wrapper {
    display: flex;
    min-width: 1440px;
    padding: 0 110px 35px;
    margin-bottom: 0;
  }

  .example__content {
    width: 433px;
    margin-right: 225px;
    z-index: 1;
  }

  .example__list {
    margin-bottom: 70px;
  }

  .example__title {
    margin-bottom: 148px;
  }

  .example__description {
    margin-bottom: 69px;
  }

  .example__price {
    position: relative;
    display: inline;
  }

  .example__price span {
    display: inline;
    margin: 0;
    margin-left: 62px;
  }

  .example__slider {
    margin: 0;
  }
}
