.gift__wrapper {
  position: relative;
  max-width: 280px;
  margin: auto;
  color: $bg-primary-color-text;
  background-color: $bg-primary-color;
  background-image: url("../../images/bg-img-catalog-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/bg-img-catalog-mobile@2x.jpg");
  }
}

.gift__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 78px;
  height: 80px;
  top: 59px;
  left: 101px;
  background-image: url("../../icons/stack.svg#gift-icon");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 78px 80px;
}

.gift__title {
  margin: 0;
  padding: 187px 55px 43px;
  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gift__wrapper {
    max-width: 708px;
    margin-top: 70px;
    background-image: url("../../images/bg-img-catalog-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/bg-img-catalog-tablet@2x.jpg");
    }
  }

  .gift__wrapper::before {
    width: 80px;
    height: 82px;
    top: 57px;
    left: 77px;
    background-size: 80px 82px;
  }

  .gift__title {
    padding: 71px 125px 69px 421px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift__wrapper {
    margin: 0;
    background-image: url("../../images/bg-img-catalog-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/bg-img-catalog-desktop@2x.jpg");
    }
  }

  .gift__wrapper::before {
    height: 83px;
    top: 56px;
    left: 83px;
    background-size: 80px 83px;
  }

  .gift__title {
    padding: 186px 40px 43px;
    text-align: center;
  }
}

