.main-header__wrapper {
  min-width: 320px;
  border-bottom: 1px solid #d9d9d9;
}

.main-header__logo {
  display: block;
  padding: 13px 20px 15px;
  width: 190px;
  height: 38px;
  transition: all 0.5s;
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    min-width: 704px;
    padding: 25px 34px 0 30px;
    border-bottom: none;
  }

  .main-header__logo {
    padding: 0;
    padding-right: 20px;
    width: 174px;
    height: 50px;
  }

  .main-header__navigation {
    display: flex;
    align-items: center;
    min-width: 704px;
    max-width: 1220px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 1220px;
    padding: 55px 110px 0;
    margin: 0 auto;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }

  .main-header__navigation {
    width: 1220px;
  }
}
