.main-header__wrapper {
  min-width: 320px;
  border-bottom: 1px solid #d9d9d9;
}


@media (min-width: $tablet-width) {
  .main-header__wrapper {
    min-width: 704px;
    padding: 25px 34px 0 30px;
    border-bottom: none;
  }

  .main-header__navigation {
    display: flex;
    align-items: center;
    min-width: 704px;
    max-width: 1220px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    padding: 55px 110px 0;
    margin: 0 auto;
  }

  .main-header__navigation {
    width: 1220px;
  }
}
