.main-footer {
  background-color: $bg-secondary-color;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-width: 240px;
  padding: 40px 20px;
  margin: auto;
}

.main-footer__wrapper > * {
  position: relative;
}

.main-footer__wrapper > *:not(:last-child)::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -20px;
  width: 280px;
  left: -75;
  height: 1px;
  background-color: #d9d9d9;
}

.main-footer__logo {
  cursor: pointer;
}

.main-footer__logo:hover {
  opacity: 0.9;
}

.main-footer__logo:active {
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    max-width: 1080px;
    padding: 62px 30px;
  }

  .main-footer__wrapper > *:not(:last-child)::before {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    min-width: 1220px;
    padding: 71px 110px;
  }
}
