.programs__item {
  position: relative;
  list-style: none;
  padding-left: 100px;
  background-color: $bg-secondary-color;
}

.programs__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: $bg-primary-color;
}

.programs__item--slim::after {
  content: "";
  position: absolute;
  display: block;
  width: 36px;
  height: 50px;
  top: -3px;
  left: 7px;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 36px 50px;
}

.programs__item--pro::after {
  content: "";
  position: absolute;
  display: block;
  width: 67px;
  height: 50px;
  top: 0;
  left: -8px;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-size: 67px 50px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color-text;
}

.programs__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.programs__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 12px;
  top: 6px;
  left: 95px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#arrow-icon");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px 12px;
}

.programs__link:active {
  opacity: 0.5;
}
