

.relation__title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.relation__subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  color: $secondary-color-text;
  text-align: center;
}
