.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #666666;
}

.social__link--vk::before {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube::before {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram::before {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#telegram");
}

.social__link:hover::before {
  background-color: $bg-primary-color;
}

.social__link:active::before {
  opacity: 0.3;
}
