.subscription__wrapper {
  min-width: 280px;
  padding: 40px 20px;
  margin: auto;
}

.subscription__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-weight: inherit;
  font-size: 24px;
}

.subscription__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 31px;
  font-size: 16px;
}

.subscription__form input {
  margin: 0;
  padding: 12px;
  width: 252px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
}

.subscription__button {
  margin-top: 14px;
  padding: 15px 81px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 26px;
  border: none;
}

@media (min-width: $tablet-width) {
  .subscription__wrapper {
    min-width: 632px;
    max-width: 1080px;
    padding: 80px 68px;
    margin: auto;
  }

  .subscription__title {
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 32px;
  }

  .subscription__description {
    padding: 0 56px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .subscription__form {
    display: flex;
    width: 632px;
    margin: auto;
  }

  .subscription__form input {
    width: 350px;
  }

  .subscription__button {
    margin-top: 0;
    padding: 15px 69px;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .subscription__wrapper {
    min-width: 1220px;
    padding: 57px 110px 104px;
  }

  .subscription__title {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
  }

  .subscription__description {
    padding: 72px 40px 0;
    text-align: center;
  }

  .subscription__form {
    width: 752px;
  }

  .subscription__form input {
    width: 472px;
  }
}
